<div class="fillTop">
    <mat-expansion-panel [disabled]="false" *ngFor="let class of classes">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{class.name}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-chip-list [selectable]="true">
            <mat-chip *ngFor="let value of class.values" color="accent" [selected]="value.isDerived">{{value.name}}
                <mat-icon (click)="removeElement(class.dbId, value.name)" *ngIf="!value.isDerived" class="last">
                    clear
                </mat-icon>
            </mat-chip>
            <mat-chip (click)="addElement(class.dbId)">
                <mat-icon>add</mat-icon>
                {{'button.addElement' | translate}}
            </mat-chip>
        </mat-chip-list>
    </mat-expansion-panel>
</div>
