<form [formGroup]="serviceForm">
    <h1 mat-dialog-title>{{ 'functions.security.changePassword.title' | translate }}</h1>
    <mat-dialog-content *ngIf="!_result">
        <div>
        <mat-input-container class="service"><input type="password" matInput formControlName="old" [placeholder]="'functions.security.changePassword.old' | translate"/></mat-input-container>
        <mat-input-container class="service"><input type="password" matInput formControlName="newPassword" [placeholder]="'functions.security.changePassword.newPassword' | translate"/></mat-input-container>
        </div>
        <div>
        <mat-input-container class="service"><input type="password" matInput formControlName="repeatIt" [placeholder]="'functions.security.changePassword.repeatIt' | translate"/></mat-input-container>
        </div>
    </mat-dialog-content>
    <mat-dialog-content *ngIf="_result">
        <div>
        
        </div>
    </mat-dialog-content>
    <button mat-button type="button" *ngIf="_error" style="color: darkred;width: 100%" disabled>
        <mat-icon>error_outline</mat-icon>
        {{_error}}
    </button>
    <mat-dialog-actions align="end">
        <div *ngIf="!_result">
            <div>
                <button mat-button [disabled]="!serviceForm.valid || submitting" type="submit" color="primary" (click)="submit()">
                    <mat-icon>check</mat-icon>
                    {{ 'button.ok' | translate }}
                </button>
                <button mat-button mat-dialog-close [disabled]="submitting">
                    <mat-icon>close</mat-icon>
                    {{ 'button.cancel' | translate }}
                </button>
            </div>
        </div>
        <div *ngIf="_result">
            <div>
                <button mat-button type="button" color="primary" (click)="close()" [disabled]="submitting">
                    <mat-icon>check</mat-icon>
                    {{ 'button.done' | translate }}
                </button>
            </div>
        </div>
    </mat-dialog-actions>
</form>
