<mat-card>
    <mat-toolbar color="primary">transactions</mat-toolbar>
    <ngx-charts-advanced-pie-chart
            [view]="view"
            [scheme]="blueScheme"
            [results]="data">
    </ngx-charts-advanced-pie-chart>
</mat-card>
