<form [formGroup]="crudForm" class="form-fields">
	<mat-input-container><input matInput formControlName="username" [placeholder]="'domain.security.anonymUser.username' | translate"/></mat-input-container>
	<mat-input-container><input type="password" matInput formControlName="password" [placeholder]="'domain.security.anonymUser.password' | translate"/></mat-input-container>
	
	<gen-category formControlName="lang" [placeholder]="'domain.security.anonymUser.lang' | translate" clazz="4" ></gen-category>
	
	<gen-category-obj-list [data]="obj.roles" [placeholder]="'domain.security.anonymUser.roles' | translate" clazzId="5" assId="12"></gen-category-obj-list>
	<gen-obj-list style="margin-top: 85px !important;" name="domain.security.anonymUser.notifications" [obj]="crudForm.getRawValue().notifications"></gen-obj-list>
</form>
