<form [formGroup]="crudForm" class="form-fields">
	<mat-input-container><input matInput formControlName="token" [placeholder]="'domain.security.loginVM.token' | translate"/></mat-input-container>
	
	
</form>
