<form [formGroup]="crudForm" class="form-fields">
	<mat-input-container><input matInput formControlName="username" [placeholder]="'domain.security.technicalUser.username' | translate"/></mat-input-container>
	<mat-input-container><input type="password" matInput formControlName="password" [placeholder]="'domain.security.technicalUser.password' | translate"/></mat-input-container>
	
	<gen-category formControlName="lang" [placeholder]="'domain.security.technicalUser.lang' | translate" clazz="4" ></gen-category>
	<mat-input-container class="textarea"><textarea matInput mdTextareaAutosize formControlName="description" [placeholder]="'domain.security.technicalUser.description' | translate"></textarea></mat-input-container>
	
	<gen-category-obj-list [data]="obj.roles" [placeholder]="'domain.security.technicalUser.roles' | translate" clazzId="5" assId="12"></gen-category-obj-list>
	<gen-obj-list style="margin-top: 85px !important;" name="domain.security.technicalUser.notifications" [obj]="crudForm.getRawValue().notifications"></gen-obj-list>
</form>
