<div *ngIf="filteredEntries.length > 0">
    <button color="primary" mat-raised-button class="sidenav-header" (click)="toggle()">
        <mat-icon *ngIf="!toggleDiv">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="toggleDiv">keyboard_arrow_right</mat-icon>
        {{title | translate}}
    </button>
    <div [tdToggle]="toggleDiv">
        <div *ngFor="let entry of filteredEntries">
            <button mat-button [routerLink]="entry.link" class="sidenav-btn" routerLinkActive="focused">
                <mat-icon>{{entry.icon}}</mat-icon>
                {{entry.name | translate}}
            </button>
        </div>
    </div>
</div>
