<form [formGroup]="crudForm" class="form-fields">
	<mat-input-container><input type="number" matInput formControlName="longTaId" [placeholder]="'domain.transaction.longTransactionVM.longTaId' | translate"/></mat-input-container>
	
</form>
