<mat-card>
    <mat-toolbar color="primary">
        <span>{{ 'title.exception.listerrorVM' | translate }}</span>
        <span class="filler"></span>
        <button [matTooltip]="'common.search' | translate" mat-icon-button (click)="fadeSearch()">
            <mat-icon>search</mat-icon>
        </button>
        <span *ngIf="dialogRef">
            <button mat-icon-button (click)="dialogRef.close()">
                <mat-icon>close</mat-icon>
            </button>
        </span>
    </mat-toolbar>
    <mat-card-content>
        <form [formGroup]="searchForm" class="form-fields toolbar" [tdFade]="searchHidden">
            <mat-select formControlName="association" [placeholder]="'domain.search.association' | translate">
                <mat-option value="1">{{ 'domain.exception.errorVM.code' | translate }}</mat-option>
                <mat-option value="2">{{ 'domain.exception.errorVM.message' | translate }}</mat-option>
            </mat-select>
            <mat-input-container><input matInput formControlName="text" [placeholder]="'domain.search.text' | translate"/></mat-input-container>

            <div fxLayout="row" fxLayoutAlign="end">
                <button mat-button type="submit" (click)="search()" [disabled]="!searchForm.valid">
                    <mat-icon>search</mat-icon>
                    {{ 'button.search' | translate }}
                </button>
                <button mat-button type="button" (click)="fadeSearch()">
                    <mat-icon>close</mat-icon>
                    {{ 'button.cancel' | translate }}
                </button>
            </div>
        </form>

        <gen-domainr-list [obj]="objects" (select)="open($event)"></gen-domainr-list>
    </mat-card-content>
</mat-card>
