<div class="mat-checkbox-layout">
    <mat-input-container style="width: 75%;display: inline-block">
        <input matInput type="password" [ngModel]="value" [placeholder]="placeholder | translate" disabled/>
    </mat-input-container>
    <span style="float: right"><button mat-icon-button (click)="decryptValue()"><mat-icon>lock_open</mat-icon></button></span>
    <span style="float: right"><button mat-icon-button (click)="encryptValue()"><mat-icon>edit</mat-icon></button></span>
</div>
