<form [formGroup]="crudForm" class="form-fields">
	<mat-input-container><input type="number" matInput formControlName="dbId" [placeholder]="'domain.core.categoryVM.dbId' | translate"/></mat-input-container>
	<mat-input-container><input matInput formControlName="name" [placeholder]="'domain.core.categoryVM.name' | translate"/></mat-input-container>
	
	<mat-checkbox formControlName="isDerived">{{'domain.core.categoryVM.isDerived' | translate}}</mat-checkbox>
	
</form>
