<form [formGroup]="crudForm" class="form-fields">
	<mat-input-container><input type="number" matInput formControlName="dbId" [placeholder]="'domain.core.categoryClassVM.dbId' | translate"/></mat-input-container>
	<mat-input-container><input matInput formControlName="name" [placeholder]="'domain.core.categoryClassVM.name' | translate"/></mat-input-container>
	
	<gen-obj-list style="margin-top: 85px !important;" name="domain.core.categoryClassVM.values" [obj]="crudForm.getRawValue().values"></gen-obj-list>
</form>
