<form [formGroup]="crudForm" class="form-fields">
	<mat-input-container><input matInput formControlName="subject" [placeholder]="'domain.core.notification.subject' | translate"/></mat-input-container>
	<mat-input-container class="textarea"><textarea matInput mdTextareaAutosize formControlName="message" [placeholder]="'domain.core.notification.message' | translate"></textarea></mat-input-container>
	
	<mat-input-container><input type="date" matInput formControlName="creation" [placeholder]="'domain.core.notification.creation' | translate"/></mat-input-container>
	<gen-category formControlName="type" [placeholder]="'domain.core.notification.type' | translate" clazz="33" ></gen-category>
	
	<mat-checkbox formControlName="isRead">{{'domain.core.notification.isRead' | translate}}</mat-checkbox>
	
</form>
