<mat-card>
<mat-toolbar color="primary">
    <button mat-icon-button (click)="location.back()"><mat-icon>arrow_back</mat-icon></button>
    <span *ngIf="titleService.getTitle()[1]">{{titleService.getTitle()[1].name}}</span>
    <span class="filler"></span>
    <gen-service></gen-service>
</mat-toolbar>
<mat-card-content>
    <mat-tab-group *ngIf="tabs.length > 1" (focusChange)="doNav($event)" [selectedIndex]="getSelectedIndex()">
        <mat-tab *ngFor="let tab of tabs">
            <ng-template mat-tab-label>{{tab.title | translate}}</ng-template>
        </mat-tab>
    </mat-tab-group>
    <router-outlet></router-outlet>
</mat-card-content>
<mat-card-actions align="end" *ngIf="canEdit()">
    <button mat-raised-button (click)="save()" color="primary" [disabled]="!formService.isFormTouched()">
        <mat-icon>done</mat-icon>
        Speichern
    </button>
    <button mat-raised-button (click)="cancel()" color="accent" [disabled]="!formService.isFormTouched()">
        <mat-icon>clear</mat-icon>
        Zurücksetzen
    </button>
</mat-card-actions>
</mat-card>
