<mat-sidenav-container fullscreen #start1>
    <mat-sidenav #start mode="side" [opened]="true" (close-start)="toggleSidenav()" (open-start)="toggleSidenav()">
        <gen-sidenav-area (close)="start.toggle()"></gen-sidenav-area>
    </mat-sidenav>
    <mat-toolbar color="primary" class="toolbar">

        <button mat-button (click)="start.toggle()" *ngIf="!start.opened">
            <mat-icon>menu</mat-icon>
            <img class="logo" src="./assets/images/logo.png">
        </button>

        <!-- Transactions -->
        <div class="filler" style="text-align: center;" *ngIf="transaction.inTransaction()">
            <button mat-raised-button [mat-menu-trigger-for]="taMenu" style="background-color: #4CAF50">
                {{"transaction.inTa" | translate}}
            </button>
            <button mat-button (click)="commit()">
                <mat-icon>done</mat-icon>
                commit
            </button>
        </div>
        <mat-menu #taMenu>
            <button mat-menu-item>
                <mat-icon>undo</mat-icon>
                undo
            </button>
            <button mat-menu-item (click)="detachTransactions()">
                <mat-icon>clear</mat-icon>
                detach
            </button>
            <button mat-menu-item>
                <mat-icon>delete</mat-icon>
                abort
            </button>
        </mat-menu>

        <div class="filler" style="text-align: center;" *ngIf="!transaction.inTransaction()">
            <button mat-button [mat-menu-trigger-for]="openTaMenu">
                {{"transaction.notInTa" | translate}}
            </button>
            <button mat-button (click)="startTransactions()">
                <mat-icon>add</mat-icon>
                {{"transaction.start" | translate}}
            </button>
        </div>
        <mat-menu #openTaMenu>
            <td-menu>
                <div td-menu-header class="mat-subhead">Open Transactions</div>
                <mat-nav-list dense>
                    <ng-template let-last="last" let-item="$implicit" ngFor [ngForOf]="transaction.transactions">
                        <a mat-list-item (click)="connectToTransaction(item.longTaId)">
                            <h4 mat-line><span class="text-wrap">{{item.longTaId}}</span></h4>
                        </a>
                        <mat-divider *ngIf="!last"></mat-divider>
                    </ng-template>
                </mat-nav-list>
            </td-menu>
        </mat-menu>

        <!-- Notifications -->
        <button mat-icon-button [mat-menu-trigger-for]="notificationMenu">
            <td-notification-count [notifications]="unreadNotifications()">
                <mat-icon>notifications</mat-icon>
            </td-notification-count>
        </button>
        <mat-menu #notificationMenu>
            <td-menu>
                <div td-menu-header class="mat-subhead">Notifications</div>
                <mat-nav-list dense>
                    <ng-template let-last="last" let-item="$implicit" ngFor [ngForOf]="notifications">
                        <a mat-list-item (click)="openNotification(item)">
                            <td-notification-count *ngIf="!item.isRead" color="primary" [notifications]="true"
                                                   style="float: left"></td-notification-count>
                            <h4 mat-line><span class="text-wrap">{{item.subject}}</span></h4>
                            <p mat-line>{{format(item.creation)}}</p>
                        </a>
                        <mat-divider *ngIf="!last"></mat-divider>
                    </ng-template>
                </mat-nav-list>
            </td-menu>
        </mat-menu>

        <!-- User Menu -->
        <button mat-button [mat-menu-trigger-for]="userMenu">
            <mat-icon>person</mat-icon>
            {{_loginService.getUserName()}}
        </button>
        <mat-menu x-position="before" #userMenu>
            <button mat-menu-item (click)="_loginService.logout()"> {{ 'button.user.logout' | translate }}</button>
            <button mat-menu-item (click)="changePassword()"> {{ 'button.user.changePassword' | translate }}</button>
        </mat-menu>

        <button mat-icon-button>
            <mat-icon>help</mat-icon>
        </button>
    </mat-toolbar>

    <router-outlet></router-outlet>
</mat-sidenav-container>
