<form [formGroup]="serviceForm">
    <mat-toolbar color="primary">
        <span>{{ 'functions.db.getModelForClass.title' | translate }}</span>
    </mat-toolbar>
    <mat-card-content *ngIf="!_result" class="form-fields">
        <div>
            <mat-select formControlName="clazz" class="service" [placeholder]="'functions.db.getModelForClass.clazz' | translate"><mat-option [value]="it" *ngFor="let it of getModelForClassOptions">{{it}}</mat-option></mat-select>
        </div>

        <button mat-button *ngIf="_error" style="color: darkred;width: 100%">
            <mat-icon>error_outline</mat-icon>
            {{_error}}
        </button>
    </mat-card-content>
    <mat-card-content *ngIf="_result" class="form-fields" style="overflow: auto;">
        <div [innerHtml]="_result | safeHtml"></div>

        <button mat-button *ngIf="_error" style="color: darkred;width: 100%">
            <mat-icon>error_outline</mat-icon>
            {{_error}}
        </button>
    </mat-card-content>
    <mat-card-actions align="end">
        <div *ngIf="!_result">
            <div>
                <button mat-raised-button [disabled]="!serviceForm.valid || submitting" type="submit" color="primary"
                        (click)="submit()">
                    <mat-icon>check</mat-icon>
                    {{ 'button.ok' | translate }}
                </button>
                <button mat-button mat-dialog-close [disabled]="submitting">
                    <mat-icon>close</mat-icon>
                    {{ 'button.cancel' | translate }}
                </button>
            </div>
        </div>
        <div *ngIf="_result">
            <div>
                <button mat-raised-button type="submit" color="primary" (click)="close()" [disabled]="submitting">
                    <mat-icon>check</mat-icon>
                    {{ 'button.done' | translate }}
                </button>
            </div>
        </div>
    </mat-card-actions>
</form>
