<form [formGroup]="serviceForm">
    <h1 mat-dialog-title>{{ 'functions.db.getAllClasses.title' | translate }}</h1>
    <mat-dialog-content *ngIf="!_result">
    </mat-dialog-content>
    <mat-dialog-content *ngIf="_result">
        <div>
        <mat-list style="margin: -20px;margin-top: -45px;margin-bottom: -41px;"><div *ngFor="let item of _result"><mat-list-item>{{_toString(item)}}</mat-list-item><mat-divider></mat-divider></div></mat-list>
        </div>
    </mat-dialog-content>
    <button mat-button type="button" *ngIf="_error" style="color: darkred;width: 100%" disabled>
        <mat-icon>error_outline</mat-icon>
        {{_error}}
    </button>
    <mat-dialog-actions align="end">
        <div *ngIf="!_result">
            <div>
                <button mat-button [disabled]="!serviceForm.valid || submitting" type="submit" color="primary" (click)="submit()">
                    <mat-icon>check</mat-icon>
                    {{ 'button.ok' | translate }}
                </button>
                <button mat-button mat-dialog-close [disabled]="submitting">
                    <mat-icon>close</mat-icon>
                    {{ 'button.cancel' | translate }}
                </button>
            </div>
        </div>
        <div *ngIf="_result">
            <div>
                <button mat-button type="button" color="primary" (click)="close()" [disabled]="submitting">
                    <mat-icon>check</mat-icon>
                    {{ 'button.done' | translate }}
                </button>
            </div>
        </div>
    </mat-dialog-actions>
</form>
