<form [formGroup]="crudForm" class="form-fields">
	<gen-category formControlName="titel" [placeholder]="'domain.uni.dozent.titel' | translate" clazz="20" ></gen-category>
	<mat-input-container><input matInput formControlName="personalnummer" [placeholder]="'domain.uni.dozent.personalnummer' | translate"/></mat-input-container>
	
	<gen-obj [obj]="crudForm.get('person').value" name="domain.uni.dozent.person"></gen-obj>
	<gen-obj [obj]="crudForm.get('fachbereich').value" name="domain.uni.dozent.fachbereich"></gen-obj>
</form>
