<form [formGroup]="crudForm" class="form-fields">
	<mat-input-container><input matInput formControlName="bezeichnung" [placeholder]="'domain.uni.fachbereich.bezeichnung' | translate"/></mat-input-container>
	
	<gen-obj-list style="margin-top: 85px !important;" name="domain.uni.fachbereich.dozenten" [obj]="crudForm.getRawValue().dozenten"></gen-obj-list>
	<gen-obj-list style="margin-top: 85px !important;" name="domain.uni.fachbereich.vorlesungen" [obj]="crudForm.getRawValue().vorlesungen"></gen-obj-list>
</form>
