<form [formGroup]="crudForm" class="form-fields">
	<mat-input-container><input matInput formControlName="username" [placeholder]="'domain.uni.person.username' | translate"/></mat-input-container>
	<mat-input-container><input type="password" matInput formControlName="password" [placeholder]="'domain.uni.person.password' | translate"/></mat-input-container>
	
	<gen-category formControlName="lang" [placeholder]="'domain.uni.person.lang' | translate" clazz="4" ></gen-category>
	<mat-input-container><input matInput formControlName="name" [placeholder]="'domain.uni.person.name' | translate"/></mat-input-container>
	
	<mat-input-container><input matInput formControlName="vorname" [placeholder]="'domain.uni.person.vorname' | translate"/></mat-input-container>
	
	<gen-obj [obj]="crudForm.get('rolle').value" name="domain.uni.person.rolle"></gen-obj>
	<gen-category-obj-list [data]="obj.roles" [placeholder]="'domain.uni.person.roles' | translate" clazzId="5" assId="12"></gen-category-obj-list>
	<gen-obj-list style="margin-top: 85px !important;" name="domain.uni.person.notifications" [obj]="crudForm.getRawValue().notifications"></gen-obj-list>
</form>
