<form [formGroup]="crudForm" class="form-fields">
	<mat-input-container><input matInput formControlName="bezeichnung" [placeholder]="'domain.uni.raum.bezeichnung' | translate"/></mat-input-container>
	
</form>
