<form [formGroup]="crudForm" class="form-fields">
	<mat-input-container><input type="number" matInput formControlName="matrikelnummer" [placeholder]="'domain.uni.student.matrikelnummer' | translate"/></mat-input-container>
	<gen-category formControlName="semester" [placeholder]="'domain.uni.student.semester' | translate" clazz="19" ></gen-category>
	
	<gen-obj [obj]="crudForm.get('person').value" name="domain.uni.student.person"></gen-obj>
	<gen-obj-list style="margin-top: 85px !important;" name="domain.uni.student.besuchteVorlesungen" [obj]="crudForm.getRawValue().besuchteVorlesungen"></gen-obj-list>
</form>
