<form [formGroup]="crudForm" class="form-fields">
	<mat-input-container><input matInput formControlName="bezeichnung" [placeholder]="'domain.uni.vorlesung.bezeichnung' | translate"/></mat-input-container>
	
	<gen-obj [obj]="crudForm.get('dozent').value" name="domain.uni.vorlesung.dozent"></gen-obj>
	<gen-obj [obj]="crudForm.get('fachbereich').value" name="domain.uni.vorlesung.fachbereich"></gen-obj>
	<gen-obj [obj]="crudForm.get('raum').value" name="domain.uni.vorlesung.raum"></gen-obj>
	<gen-obj-list style="margin-top: 85px !important;" name="domain.uni.vorlesung.studenten" [obj]="crudForm.getRawValue().studenten"></gen-obj-list>
</form>
