@import "./assets/style/colors";
@import '~@angular/material/theming';
@import '~@covalent/core/theming/all-theme';

@include mat-core();

$candy-app-primary: mat-palette($gen-primary);
$candy-app-accent: mat-palette($gen-second);
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent);

@include angular-material-theme($candy-app-theme);
@include covalent-theme($candy-app-theme);

// TODO custom stuff

.toolbar {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  -webkit-transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.primary {
  background-color: $main;
}

.focused > .mat-button-focus-overlay {
  opacity: 1 !important;
}

.td-data-table-row:hover {
  background-color: #40BAD9;
}

.filler {
  flex: 1 1 auto;
}

.logo {
  max-height: 28px;
}

gen-blob > div > form {
  display: inline;
}

.logo-big {
  padding: 8px;
  max-height: 44px;
}

mat-sidenav {
  background-color: $accent !important;
}

mat-card-actions {
  margin: 0 12px !important;
  padding-bottom: 6px !important;
}

.form-fields {
  padding: 12px !important;
}

body {
  background-color: $background !important;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a:hover {
  text-decoration: none !important;
}

form > mat-input-container {
  width: 50%;
  margin-right: -2px;
}

form > gen-category > mat-select {
  width: 50%;
  margin-right: -2px;
}
.form-fields > div > gen-category > mat-select {
  width: 100%;
  margin-right: -2px;
}
mat-select {
  width: 50%;
  margin-right: -2px;
}

gen-obj, gen-obj-list {
  position: absolute;
  width: 850px;
  margin: -12px;
  display: table;
}

mat-input-container.textarea {
  width: 100%;
}

.service {
  width: 100%;
}

.full-width {
  width: 100%;
}

.mat-checkbox-inner-container {
  margin: auto 8px auto 0 !important;
}

.mat-checkbox-layout {
  width: 50%;
  margin-right: -2px;
  display: inline-block;
}

.service > .mat-checkbox-layout {
  width: 100%;
}

.mat-chip-list-wrapper {
  display: inline !important;
}

mat-dialog-container > ng-component > mat-card {
  margin: -24px !important;
}

mat-toolbar-row > [mat-button] {
  font-size: 18px;
  padding: 2px !important;
}

mat-toolbar {
  min-width: 550px;
}

mat-toolbar-row > [mat-button] > span > mat-icon {
  margin: 0 !important;
}

mat-sidenav.mat-sidenav-opened {
  box-shadow: 0px 1px 12px -1px rgba(0, 0, 0, 0.2), 0px 1px 20px 0px rgba(0, 0, 0, 0.14), 0px 1px 30px 0px rgba(0, 0, 0, 0.12) !important;
}

mat-radio-button {
  margin-right: 10px;
}

.sidenav-icon {
  margin: 12px !important;
}

.mat-tab-body-wrapper {
  padding: 10px;
}

a {
  color: black !important;
}

[mat-icon-button] > span > mat-icon {
  margin-right: 0 !important;
}

mat-toolbar-row > span > mat-icon {
  vertical-align: sub !important;
}

mat-card {
  padding: 0 !important;
  max-width: 850px;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
}

// TODO remove on next teradata version
.mat-menu-content {
  min-width: 200px;
}

.mat-list-text p {
  color: #9e9e9e;
}

svg {
  display: block;
  margin: auto;
}

// Texte abschneiden
.mat-list-item, mat-toolbar-row > span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// TODO workaround
.mat-select-trigger {
  font-size: inherit !important;
  height: 25px !important;
}

.mat-select-placeholder.mat-floating-placeholder {
  top: -14px !important;
}

mat-dialog-container {
  width: 850px !important;
}

textarea {
  max-height: 200px !important;
}

@media (max-width: 540px) {
  .desktop-only {
    display: none !important;
    visibility: hidden !important;
  }
  mat-input-container {
    width: 100%;
  }
  mat-select {
    width: 100%;
  }
  .mat-checkbox-layout {
    width: 100%;
    display: inline-block;
  }
  mat-dialog-container {
    min-width: 10px !important;
  }
}
