<form [formGroup]="crudForm" class="form-fields">
	<mat-input-container><input matInput formControlName="name" [placeholder]="'domain.db.statistikVM.name' | translate"/></mat-input-container>
	<mat-input-container><input type="number" matInput formControlName="value" [placeholder]="'domain.db.statistikVM.value' | translate"/></mat-input-container>
	
</form>
