$main: #009ff4;
$background: #009ff4;
$accent: #788187;
$error: #900001;

$black-87-opacity: rgba(black, 0.87);
$white-87-opacity: rgba(white, 0.87);

$gen-primary: (
    100: lighten($main, 25%),
    500: $main,
    600: darken($main, 10%),
    700: darken($main, 20%),
    contrast: (
        100: $black-87-opacity,
        500: $black-87-opacity,
        700: $black-87-opacity
    )
);

$gen-second: (
    100: lighten($accent, 25%),
    500: $accent,
    600: darken($accent, 10%),
    700: darken($accent, 20%),
    contrast: (
        100: $black-87-opacity,
        500: $white-87-opacity,
        700: $white-87-opacity
    )
);
